<div class="widget tag">
<h3 class="title">简介</h3>
<ul class="entry">
<li>本体：赵伟</li>
<li>二次元：zippera | moxie</li>
<li>现状：帝都CS在读研究生</li>
<li>Theme: <a href="https://github.com/zippera/lightum">Lightum</a>
<li>想交友的朋友请<a href="http://zipperary.com/about">联系我</a>！</li>
<li>QQ 号：763987114</li>
<font color="red">Hexo 交流群：287306637</font>
</ul>
</div>

