<div class="widget tag">
<h3 class="title">热门评论</h3>
<ul  class="ds-top-threads entry" data-range="weekly" data-num-items="5"></ul>
<script type="text/javascript">
var duoshuoQuery = {short_name:"zippera"};
(function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = 'http://static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
})();
</script>
</div>